<h1>Login</h1>

<%= form_for @users do |u| %>
  <% if @user.errors.any? %>

  <div class="error_explanations">
   <h2>The following errors are keeping you from logging in <h2>
   <h3><%= pluralize(@user.errors.count, "error") %> </h3>
   <ul>
    <% @user.errors.full_messages.each do |m| %>
      <li><%= m %></li>
    <%end%>
   </ul>
  </div>
<% end %>

  <p>
    <%= u.label :userName, "User Name" %>
    <%= u.text_field :userName %>
  </p>

  <p>
    <%= u.label :password, "Password" %>
    <%= u.text_field  :password %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<%end%>
