<h1>Sign Up</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>

  <div class="error_explanations">
   <h2>The following errors are keeping you from signing up <h2>
   <h3><%= pluralize(@user.errors.count, "error") %> </h3>
   <ul>
    <% @user.errors.full_messages.each do |m| %>
      <li><%= m %></li>
    <%end%>
   </ul>
  </div>
<% end %>

  <p> 
    <%= f.label :userName %><br />
    <%= f.text_field :userName %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p class="button"><%= f.submit %></p>
<% end %>
