<%= form_tag do %>
  <p>
    <%= label_tag(:foodName, "Food Name") %>
    <%= text_field_tag (:foodName) %>
  </p>

  <p>
    <%= label_tag(:description, "Description") %>
    <%= text_area_tag (:description) %>
  </p>

  <p>
    <%= check_box_tag(:isDairyFree) %>
    <% label_tag(:isDairyFree, "Is it Dairy-free") %>

    <% label_tag(:isEggFree, "Is it Egg-free") %>
    <%= check_box_tag(:isEggFree) %>

    <% label_tag(:isShellfishFree, "Is it Shellfish-free") %>
    <%= check_box_tag(:isShellfishFree) %>

    <% label_tag(:isFishFree, "Is it Fish-free") %>
    <%= check_box_tag(:isFishFree) %>
  </p>

  <p>
    <% label_tag(:isMeatFree, "Is it Meat-free") %>
    <%= check_box_tag(:isMeatFree) %>

    <% label_tag(:isGlutenFree, "Is it Gluten-free") %>
    <%= check_box_tag(:isGlutanFree) %>

    <% label_tag(:isWheatFree, "Is it Wheat-free") %>
    <%= check_box_tag(:isWheatFree) %>
 
    <% label_tag(:isHighFiber, "Is it High in Fiber") %>
    <%= check_box_tag(:isHighFiber) %>
  </p>

  <p>
    <% label_tag(:isSugarFree, "Is it Sugar-free") %>
    <%= check_box_tag(:isSugarFree) %>

    <% label_tag(:isPeanutFree, "Is it Peanut-free") %>
    <%= check_box_tag(:isPeanutFree) %>

    <% label_tag(:isTreenutFree, "Is it Treenut-free") %>
    <%= check_box_tag(:isTreenutFree) %>

    <% label_tag(:isSoyFree, "Is it Soy-free") %>
    <%= check_box_tag(:isSoyFree) %>
  </p>
<%end%>

