<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end =%>

<p>
  <b>Name: <%=@food.foodName %> </b>
</p>

<p>
  <span>Description: <%= @food.description %> </span>
</p>

<%= link_to 'Edit', edit_food_path(@food) %>
<%= link_to 'Back', foods_path %>
