<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end =%>

<p>
  <b>Name: <%=@food.foodName %> </b>
</p>

<p>
  <span>Description: <%= @food.description %> </span>
</p>

<%#- if current_user -%>
  <%#- if current_user.id == @food.id_Users -%> 
    <%= link_to 'Edit', edit_food_path(@food) %>
  <%#- end -%>
<%#- end -%>
<%= link_to 'Back', foods_path %>



<%= debug current_user.id %>
<%= debug @food.id_Users %>
