<%= form_for ([@user, @preferences]), :html => { :class => 'form-horizontal preferences_form' } do |f| %>
  <% if @preferences.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@preferences.errors.count, "error") %> errors:</h2>

      <ul>
      <% @preferences.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="span4">
      <h3>General</h3>
      <div class="field">
        <%= f.label :isPescatarian %>
        <%= f.check_box :isPescatarian %>
      </div>
      <div class="field">
        <%= f.label :isVegetarian %>
        <%= f.check_box :isVegetarian %>
      </div>
      <div class="field">
        <%= f.label :isVegan %>
        <%= f.check_box :isVegan %>
      </div>

      <h3>Religious</h3>
      <div class="field">
        <%= f.label :isAsianVegetarian %>
        <%= f.check_box :isAsianVegetarian %>
      </div>
      <div class="field">
        <%= f.label :isHindu %>
        <%= f.check_box :isHindu %>
      </div>
      <div class="field">
        <%= f.label :isMuslim %>
        <%= f.check_box :isMuslim %>
      </div>
      <div class="field">
        <%= f.label :isJain %>
        <%= f.check_box :isJain %>
      </div>
      <div class="field">
        <%= f.label :isKosher %>
        <%= f.check_box :isKosher %>
      </div>
    <%# end of span5 num 1 %>
    </div>

    <div class="span4">
      <h3>Health</h3>
      <div class="field">
        <%= f.label :isDiabetic %>
        <%= f.check_box :isDiabetic %>
      </div>
      <div>
        <%= f.label :noAlcohol %>
        <%= f.check_box :noAlcohol %>
      </div>
      <div class="field">
        <%= f.label :isAllergicGluten %>
        <%= f.check_box :isAllergicGluten %>
      </div>
      <div class="field">
        <%= f.label :isAllergicPeanuts %>
        <%= f.check_box :isAllergicPeanuts %>
      </div>
      <div class="field">
        <%= f.label :isAllergicTreenuts %>
        <%= f.check_box :isAllergicTreenuts %>
      </div>
      <div class="field">
        <%= f.label :isAllergicDairy %>
        <%= f.check_box :isAllergicDairy %>
      </div>
      <div class="field">
        <%= f.label :isAllergicEggs %>
        <%= f.check_box :isAllergicEggs %>
      </div>
      <div class="field">
        <%= f.label :isAllergicWheat %>
        <%= f.check_box :isAllergicWheat %>
      </div>
      <div class="field">
        <%= f.label :isAllergicSoy %>
        <%= f.check_box :isAllergicSoy %>
      </div>
      <div class="field">
        <%= f.label :isAllergicFish %>
        <%= f.check_box :isAllergicFish %>
      </div>
      <div class="field">
        <%= f.label :isAllergicShellfish %>
        <%= f.check_box :isAllergicShellfish %>
      </div>
    <%# end of span5 num 2%>
    </div>

    <div class="field">
      <%= f.hidden_field :user_id, :value => current_user.id %>
    </div>
  <%# end of row div %>
  </div>

  <div class="field">
    <%= f.label :blacklistFoods %>
    <span>(Seperate by comma)</span><br />
    <%= f.text_field :blacklistFoods %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                recipes_path, :class => 'btn' %>
  </div>
<% end %>
