<p id="notice"></p>

<h3>Food Preferences</h3>

<p>
  <strong>Blacklisted:</strong>
  <%= @preference.blacklistFoods %>
</p>

<p>
  <strong>Pescatarian:</strong>
  <%= @preference.isPescatarian %>
</p>

<p>
  <strong>Vegetarian:</strong>
  <%= @preference.isVegetarian %>
</p>

<p>
  <strong>Vegan:</strong>
  <%= @preference.isVegan %>
</p>

<h3>Health</h3>

<p>
  <strong>Diabetic friendly:</strong>
  <%= @preference.isDiabetic %>
</p>

<p>
  <strong>Alcohol-free:</strong>
  <%= @preference.noAlcohol %>
</p>

<p>
  <strong>Gluten-free:</strong>
  <%= @preference.isAllergicGluten %>
</p>

<p>
  <strong>Peanut-free:</strong>
  <%= @preference.isAllergicPeanuts %>
</p>

<p>
  <strong>Treenut-free:</strong>
  <%= @preference.isAllergicTreenuts %>
</p>

<p>
  <strong>Dairy-free:</strong>
  <%= @preference.isAllergicDairy %>
</p>

<p>
  <strong>Egg-free:</strong>
  <%= @preference.isAllergicEggs %>
</p>

<p>
  <strong>Wheat-free:</strong>
  <%= @preference.isAllergicWheat %>
</p>

<p>
  <strong>Soy-free:</strong>
  <%= @preference.isAllergicSoy %>
</p>

<p>
  <strong>Fish-free:</strong>
  <%= @preference.isAllergicFish %>
</p>

<p>
  <strong>Shellfish-free:</strong>
  <%= @preference.isAllergicShellfish %>
</p>

<h3>Religious-based Preferences</h3>

<p>
  <strong>Asian Vegetarian:</strong>
  <%= @preference.isAsianVegetarian %>
</p>

<p>
  <strong>Hindu:</strong>
  <%= @preference.isHindu %>
</p>

<p>
  <strong>Muslim:</strong>
  <%= @preference.isMuslim %>
</p>

<p>
  <strong>Jain:</strong>
  <%= @preference.isJain %>
</p>

<p>
  <strong>Kosher:</strong>
  <%= @preference.isKosher %>
</p>


<%= link_to 'Edit', edit_user_preference_path(current_user.id, :id), data: {no_turbolink: true}  %>
