<p id="notice"><%= notice %></p>

<p>
  <strong>Ispescatarian:</strong>
  <%= @preference.isPescatarian %>
</p>

<p>
  <strong>Isvegetarian:</strong>
  <%= @preference.isVegetarian %>
</p>

<p>
  <strong>Isvegan:</strong>
  <%= @preference.isVegan %>
</p>

<p>
  <strong>Isdiabetic:</strong>
  <%= @preference.isDiabetic %>
</p>

<p>
  <strong>Isallergicgluten:</strong>
  <%= @preference.isAllergicGluten %>
</p>

<p>
  <strong>Isallergicpeanuts:</strong>
  <%= @preference.isAllergicPeanuts %>
</p>

<p>
  <strong>Isallergictreenuts:</strong>
  <%= @preference.isAllergicTreenuts %>
</p>

<p>
  <strong>Isallergicdairy:</strong>
  <%= @preference.isAllergicDairy %>
</p>

<p>
  <strong>Isallergiceggs:</strong>
  <%= @preference.isAllergicEggs %>
</p>

<p>
  <strong>Isallergicwheat:</strong>
  <%= @preference.isAllergicWheat %>
</p>

<p>
  <strong>Isallergicsoy:</strong>
  <%= @preference.isAllergicSoy %>
</p>

<p>
  <strong>Isallergicfish:</strong>
  <%= @preference.isAllergicFish %>
</p>

<p>
  <strong>Isallergicshellfish:</strong>
  <%= @preference.isAllergicShellfish %>
</p>

<p>
  <strong>Isasianvegetarian:</strong>
  <%= @preference.isAsianVegetarian %>
</p>

<p>
  <strong>Ishindu:</strong>
  <%= @preference.isHindu %>
</p>

<p>
  <strong>Ismuslim:</strong>
  <%= @preference.isMuslim %>
</p>

<p>
  <strong>Isjain:</strong>
  <%= @preference.isJain %>
</p>

<p>
  <strong>Iskosher:</strong>
  <%= @preference.isKosher %>
</p>

<p>
  <strong>Foodstofilter:</strong>
  <%= @preference.foodsToFilter %>
</p>

<p>
  <strong>User:</strong>
  <%= @preference.user %>
</p>

<%= link_to 'Edit', edit_preference_path(@preference) %> |
<%= link_to 'Back', preferences_path %>
