<!DOCTYPE html>
<html>
<head>
  <title>ScrumDiddlyUmptious</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale:1.0">
</head>
<body>


  <%= link_to image_tag("logo2.png", alt: "ScrumDiddlyUmptious", size: "500x80", class: "logo"), recipes_path %>

<ul class="header">

  <% if user_signed_in? %>
    <li class="dropdown headerMenu">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Logged in as <strong><%= current_user.username %></strong><span class="caret"></span>
      </a>

      <ul class="dropdown-menu">
        <li><%= link_to 'Edit Profile', edit_user_registration_path, :class => 'navbar-link' %></li>
        <li><%= link_to 'Edit Preferences', edit_user_preference_path(current_user.id, :id), :class => 'navbar-link' %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link', data: {no_turbolink: true}  %></li>
      </ul>
    </li>
  <% else %>
    <li class="dropdown headerMenu">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Login <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link', data: {no_turbolink: true}   %></li>
        <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link', data: {no_turbolink: true}   %></li>
      </ul>
    </li>
  <% end %>
</ul>

<div class="main">
  <div class="row">
    <div class="col-md-3">
      <ul class="sidebar-nav">
        <li><%= link_to "Home", recipes_path %></li>
  
        <% if user_signed_in? %>
          <li><%= link_to "Favorites", favorites_path %></li>
          <% if current_user.role == 'admin' %>
            <li><%= link_to "Users", users_path %></li>
          <% end %>
        <% end %>

        <li>
          <%= link_to "Advanced Search", advancedSearch_path, :class => 'advancedSearch' %>
        </li>

        <li class="control-group">
          <%= form_tag recipes_path, :method => :get do %>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :name => nil, :class => 'btn btn-primary btn-sm' %>
          <% end %>
        </li>

      </ul>
    </div>

    <div class="col-md-9">
      <div class="breadcrumbs">
        <%= render_breadcrumbs %>
      </div>

      <div class="scrollable">
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
  
        <div class="container-fluid">
          <%= yield %>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="footer">
  &copy; ScrumDiddlyUmptious 2014
</div>

</body>
</html>
