<%= form_for @recipe, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>

  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> errors:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, nil, :class => 'control-label' %>
    <%= f.text_field :title, :class => 'form-control' %>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <%= f.text_area :description, :class => 'form-control' %>
  </div>
  <div class="control-group">
    <%= f.label :ingredients, :class => 'control-label' %>
    <%= f.text_area :ingredients, :class => 'form-control' %>
  </div>
  <div class="control-group">
    <%= f.label :directions, :class => 'control-label' %>
    <%= f.text_area :directions, :class => 'form-control' %>
  </div>
    <div class="control-group">
    <%= f.label :category, :class => 'control-label' %>
        <%= f.select :category, options_for_select(%w[appetizer beverage breakfast dessert dinner lunch side-dish snack]), :class => 'form-control' %>
  </div>
  <div class="control-group">
    <%= f.label :cookTime, :class => 'control-label' %>
    <%= f.text_field :cookTime, :class => 'form-control' %>
  </div>
  <div class="control-group">
    <%= f.label :costOfIngredients, :class => 'control-label' %>
    <%= f.text_field :costOfIngredients, :class => 'form-control' %>
  </div>

  <div class="control-group">
    <%= f.label :canPrepareAhead, :class => 'control-label' %>
    <%= f.check_box :canPrepareAhead, :class => 'text_field' %>
  </div>
  <div class="control-group">
    <div class="control">
      <%= f.file_field :picture %>
    </div>
  </div>

  <%= f.hidden_field :id_Users, :value => current_user.id %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                recipes_path, :class => 'btn' %>
  </div>
<% end %>
