<h1>Recipes</h1>

<% if user_signed_in? %>
  <%= link_to 'New Recipe', new_recipe_path %>
<% end %>

<table>
  <tr>
    <th>Title</th>
    <th colspan="3"></th>
  </tr>

  <% if @recipes %>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= link_to recipe.title, recipe_path(recipe) %></td>
        <% if user_signed_in? %>
          <% if recipe.id_Users == current_user.id %>
            <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
            <td><%= link_to 'Delete', recipe_path(recipe), method: :delete, data: {confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  <% end %>

<%= paginate @recipes %>

</table>
