<%- model_class = Recipe -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:cookTime) %></th>
      <th><%= model_class.human_attribute_name(:costOfIngredients) %></th>
    </tr>
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= link_to recipe.title, recipe_path(recipe) %></td>
        <td><%= recipe.cookTime.downcase %></td>
        <td>$<%= number_with_precision(recipe.costOfIngredients, :precision=>2) %></td>
        <td>
          <% if user_signed_in? %>
            <% if recipe.id_Users == current_user.id  || current_user.role == 'admin'%>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_recipe_path(recipe), :class => 'btn btn-mini' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          recipe_path(recipe),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if user_signed_in? %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
            new_recipe_path,
            :class => 'btn btn-primary' %>
<% end %>
