<%- model_class = Recipe -%>

<% if @recipes.empty? %>
  <h4>No recipes match your search</h4>
  <span> try creating your own~</span>
    <%= link_to t('.new', :default => t("helpers.links.new")),
              new_recipe_path,
              :class => 'btn btn-default', data: {no_turbolink: true}  %>
<% else %>
  <div class="recipes">
    <% @recipes.each do |recipe| %>
      <div class="recipe">
        <div class="recipeContents">
          <h4><%= link_to recipe.title, recipe_path(recipe) %></h4>
          <%= image_tag recipe.picture.url(:thumb) %>
          <%= rating_for recipe, "Rating", :disable_after_rate => false %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="clearfix"/>

  <%= will_paginate @recipes, :container => false, :params => { :search_text => params[:search_text]} %>

  <% if user_signed_in? %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
              new_recipe_path,
              :class => 'btn btn-default', data: {no_turbolink: true}  %>
  <% end %>
<% end %>



<%= debug @cookTimeArray %>
