<%- model_class = Recipe -%>
<div class="page-header">
  <h1> <%= @recipe.title %> </h1>
</div>

<dl class="dl-horizontal">

  <% if user_signed_in? %>
    <dd>
      <% if @isFav == "false" %>
        <%= link_to make_favorite_path(:recipe_id => @recipe.id, :type => "favorite"), method: :put, :class => 'btn btn-primary' do %>
          <i class="glyphicon glyphicon-star">Favorite</i>
        <% end %>
      <% else %>
        <%= link_to make_favorite_path(:recipe_id => @recipe.id, :type => "unfavorite"), method: :put, :class => 'btn btn-danger' do %>
          <i class="glyphicon glyphicon-star-empty">Unfavorite</i>
        <% end %>
      <% end %>
    </dd>
  <% end %>

  <dd><%= image_tag @recipe.picture.url (:medium)%></dd><br />

  <dt><strong><%= model_class.human_attribute_name(:ingredients) %>:</strong></dt>
  <dd><%= simple_format(@recipe.ingredients) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:directions) %>:</strong></dt>
  <dd><%= simple_format(@recipe.directions) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= simple_format(@recipe.description) %></dd>

  <dt><strong>Rating: </strong></dt>
  <dd><%= rating_for @recipe, "Rating", :disable_after_rate => false %></dd>


  <dt><strong><%= model_class.human_attribute_name(:cookTime) %>:</strong></dt>
  <dd><%= @recipe.cookTime %></dd>
  <dt><strong><%= model_class.human_attribute_name(:costOfIngredients) %>:</strong></dt>
  <dd>$<%= number_with_precision(@recipe.costOfIngredients, :precision => 2) %></dd>
  <dt><strong>Chef:</strong></dt>
  <dd><%= link_to @chef.username, user_path(@chef) %></dd>
  <% if @recipe.canPrepareAhead == '1' %>
    <dd><strong>This recipe can be prepared ahead of time!</strong></dd>
   <% end %>
</dl>



<%= link_to t('.back', :default => t("helpers.links.back")),
              recipes_path, :class => 'btn btn-default'  %>

<% if user_signed_in? %>
  <% if @recipe.id_Users == current_user.id  || current_user.role == 'admin'%>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_recipe_path(@recipe), :class => 'btn btn-default', data: {no_turbolink: true}  %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                recipe_path(@recipe),
                :method => 'delete',
                :data => { :confirm => t('.confirm', no_turbolink: true, :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  <% end %>
<% end %>


<% if !@recipe.comments.blank? %>
  <div class="comments">
    <h3>Comments: </h3>
    <% @recipe.comments.each do |c| %>
      <span><strong><%= c.commenter %></strong>: </span>
      <span><%= c.comment %></span> <br />
    <% end %>
  <% end %>
</div>


<% if user_signed_in? %>
  <h3 class="comment-box">Add a Comment: </h3>
  <%= form_for([@recipe, @recipe.comments.build]) do |f| %>
    <%= f.hidden_field :commenter, :value => current_user.username %>
    
    <div class="control-group">
      <div class="controls comment-box">
        <%= f.text_area :comment, :class => 'text_field' %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                recipes_path, :class => 'btn btn-default' %>
    </div>
  <% end %>
<% end %>
