<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end =%>

<p>
  <b><%=@recipe.title %> </b>
</p>

<p>
  <h5>
    Ingredients: <br />
    
    <%= @recipe.ingredients %>
  <h5>
</p>

<p>
  <span>Directions: <%= @recipe.directions %> </span>
</p>

<p>
  <span>Estimated cost of ingredients: $<%=number_with_precision(@recipe.costOfIngredients, :precision => 2)%></span>
</p>

<p>
  <span>Estimated cook time in hours: <%=@recipe.cookTime%></span>
</p>

<% if @recipe.canPrepareAhead == '1' %>
  <span>This recipe can be prepared ahead of time!</span><br/>
<%end%>

<p>
  <h4>Chef: <%= link_to @chef.username, user_path(@chef) %></h4>
</p>

<% if user_signed_in? %>
  <% if @recipe.id_Users == current_user.id %>
    <%= link_to 'Edit', edit_recipe_path(@recipe) %>
    <%= link_to 'Delete', recipe_path(@recipe), method: :delete, data: {confirm: 'Are you sure?' } %>
  <% end %>
<% end %>

<%= link_to 'Back', recipes_path %>
